__pycache__/
*.pyc
*.db
*.sqlite
backend/venv/
backend/uploads/
osrm/data/
*.osrm
*.osrm.*
*.pbf
Redis/
frontend/node_modules/
frontend/build/
.DS_Store
Thumbs.db
atmr-project/

backend/invoices/
backend/static/qrcodes/
backend/qr_code.png
