EXPO_PUBLIC_API_URL=https://api.lirie.ch
EXPO_PUBLIC_BACKEND_PORT=5000
SOCKET_HOST=api.lirie.ch
SOCKET_PORT=5000
EXPO_PUBLIC_GOOGLE_API_KEY=changeme-google-rest
EXPO_PUBLIC_ANDROID_MAPS_API_KEY=changeme-android-maps

