/* src/components/CourseList.module.css */
.courseList {
  margin: var(--spacing-lg) 0;
}
.courseItem {
  padding: var(--spacing-sm);
  border-bottom: 1px solid var(--border-secondary);
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.courseItem:hover {
  background-color: var(--bg-secondary);
}
